body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 0; /* Remove margin to avoid double spacing */
}

h1 {
    color: #333;
}

.title {
    font-size: 35px;
    text-align: center;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

header {
    width: 100%;
    background-color: #af927e;
    color: white;
    text-align: center;
    padding: 10px 0; /* Reduced padding to make the banner narrower */
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    padding-left: 100px;

}

nav {
    width: 200px;
    position: fixed;
    top: 60px; /* Move the menu bar below the banner */
    left: 0;
    height: 100%;
    background-color: #f4f4f4;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    text-align: left;
    font-size: 20px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    margin-bottom: 10px;
    cursor: pointer;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    text-align: left;
}

nav ul li ul {
    margin-top: 5px;
    padding-left: 15px;
}

nav ul li ul li {
    margin-bottom: 5px;
}

nav ul li ul li a {
    font-weight: normal;
}
.photo {
    width: 70%;
    max-width: 1000px;
    height: auto;
    margin: 0 auto;
    display: block;
    margin-left:200 px;

}

.pagecontent{
  margin-left: 250px;
  margin-top: 70px;
  
}
.product-boxes {
  display: flex;
  justify-content: space-between;
  margin: 20px;

}

.box {
  flex: 1;
  margin: 0 10px;
  border: 2px solid #f3e5e5;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  background-color: #f3e5e5;
  height: 300; 
}
.product{
  width: 70%;
  height: auto;
  margin-bottom: 10px;
  border-radius: 10px;
}
.full-width-box {
    margin: 0 30px;
    border: 2px solid #f3e5e5;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    background-color: #f3e5e5;
    height: 600;
}
.horse-boxes {
    display: flex;
    justify-content: space-between;
    align-items: stretch; /* Ensure children can stretch */
    margin: 20px;
}
  
  .horse-box {
    flex: 1;
    margin: 0 10px;
    border: 2px solid #f3e5e5;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    background-color: #f3e5e5;
    min-height: 1000; }

    .horse-box img {
        max-width: 90%; /* Ensure the image doesn't overflow the box */
        height: auto; /* Maintain aspect ratio */
        display: block; /* Remove inline spacing issues */
        margin: 0 auto; /* Center the image */
    }
    .prices {
        font-size: 20px;
        color: #333;
        margin-top: 10px;
        font-weight: bold;
        text-align: center;
    }
    .bullet-points {
        text-align: left;
        margin-top: 10px;
        font-size: 16px;
    }